# === Java / Maven ===
target/
*.class
*.jar
*.war
*.log

# === Spring Boot ===
application-local.yml
application-secret.yml

# === IDE ===
.idea/
*.iml
.vscode/
*.swp

# === Node / Angular ===
node_modules/
dist/
.angular/

# === Docker ===
.env
docker-compose.override.yml

# === OS ===
.DS_Store
Thumbs.db

# === Otros ===
*.bak
*.tmp